@media (max-width: 991.98px){
    .view{
        display: none;
    }
    .menu{
        display: inline-block !important;
    }
    .menuBar{
        display: block !important;
    }
    .header-section{
        margin-top: 10px;
    }
    .image-card{
        height: 160px;
    }
    .news-card h4, .all-btn a, .about-course p, .about-member p, .teacher-about{
        font-size: 16px;
    }
    .about-course h4, .about-member h4, .text h4 {
        font-size: 20px;
    }
    .about-course ul li{
        font-size: 14px;
    }
    .course{
        padding: 14px;
    }
    .about-course{
        padding-bottom: 10px;
    }
    .members{
        padding: 20px;
    }
    .banner-img{
        height: 450px;
    }
    .breadcrump-page{
        height: 380px;
    }
    .image-ourcourse{
        margin-top: 30px;
    }
    .heading{
        padding: 50px 0;
    }
    .padding{
        padding-bottom: 250px;
    }
    .banner, .breadcrump-page {
        padding: 126px 0 50px;
    }
    .mega-menu-list li a, .sub-menu span a {
        padding-bottom: 0;
    }
    .student-image{
        height: 100%;
    }
    .student-image img{
        object-position: right;
    }
    .text-thought{
        padding-left: 0;
    }
    .teacher-content{
        padding: 30px;
        margin-bottom: 20px;
    }
    .text-content{
        padding: 30px;
    }
    .teacher-content{
        margin-top: 0;
    }
    .card-box{
        margin: 20px 0;
        padding: 30px;
    }
    .contact-inner{
        margin-bottom: 20px;
    }
    .contact{
        margin: 20px 0 0;
    }
    .event-image img{
        object-fit: contain;
    }
    .event-image{
        margin-bottom: 20px;
    }
    .more-btn{
        bottom: 46px;
        left: 52px;
    }
    .form{
        padding: 30px;
    }
    .btn{
        bottom: -48px;
    }
}
@media (max-width: 767.98px){
    .banner, .breadcrump-page {
        padding: 126px 0 30px;
    }
    .heading, .about-page-section, .about-course-section  {
        padding: 30px 0;
    }
    .header-section{
        margin-bottom: 20px;
    }
    .header-section h3, .register-section h2{
        font-size: 24px;
    }
    .border-down{
        height: 2px;
    }
    .course{
        padding: 8px;
    }
    .btn{
        bottom: -36px;
    }
    .about-course{
        padding-top: 20px;
    }
    .btn a, .all-btn a{
        font-size: 14px;
        padding: 10px 20px;
    }
    .course-slider {
        height: 350px !important;
    }
    .members{
        padding: 16px;
    }
    .image-course{
        margin-top: 10px;
    }
    .text-content, .teacher-content{
        padding: 20px;
    }
    .account-iatc a i{
        font-size: 14px;
    }
    .breadcrump-page {
        height: 350px;
    }
    .bg-on{
        bottom: 40px;
    }
    .padding{
        padding-bottom: 250px;
    }
    .student-image{
        height: 270px;
    }
    .contact-inner{
        justify-content: inherit !important;
    }
    .dashboard{
        display: none !important;
    }
    .login-panel{
        border-radius: 10px;
        padding: 30px;
    }
    .sidebar-header, .main-menu, .sign-out{
        display: none;
    }
    .sidebar-menu {
        width: 10%;
        padding: 30px;
    }
    .main-content {
        width: 90%;
    }
    .banner-img{
        height: 300px;
    }
}
@media (max-width: 575.98px){
    .course-slider {
        height: 400px !important;
    }
    .heading, .about-page-section, .about-course-section  {
        padding: 20px 0;
    }
    .image-card{
        height: 200px;
    }
    .image-card img{
        object-position: top;
    }
    .news-card, .about-ourcourse h2{
        margin-bottom: 10px;
    }
    .all-btn, .image-ourcourse{
        margin-top: 20px;
    }
    .footer, .account-iatc{
        text-align: center;
    }
    .account-iatc{
        margin-top: 8px;
    }
    .banner, .breadcrump-page {
        padding: 110px 0 20px;
    }
    .breadcrump-page {
        height: 280px;
    }
    .bg-on{
        left: 0;
        bottom: 10px;
    }
    .about-ourcourse div{
        font-size: 14px;
    }
    .context h2{
        font-size: 30px;
    }
    .about-ourcourse h2, .event-page h2, .contact-section h2{
        font-size: 24px;
    }
    .breadcrumb-item a, .breadcrumb-item{
        font-size: 20px !important;
    }
    .image-ourcourse{
        height: 250px;
    }
    .padding{
        padding-bottom: 250px;
    }
    .student-image{
        height: 250px;
    }
    .text-thought{
        padding-left: 20px;
    }
    .form{
        padding: 20px;
    }
    .border{
        margin: 20px 0;
    }
    .contact-section h4{
        font-size: 20px;
    }
    .form input{
        height: 36px;
        margin: 6px 0 10px;
    }
    .login-panel{
        padding: 20px;
    }
    .right-section {
        padding: 40px 0;
    }
    .admin-table{
        display: none;
    }
    .sidebar-menu{
        padding: 16px;
    }
    .banner-img {
        height: 240px;
    }
    .more-btn a{
        padding: 6px 20px;
        font-size: 12px;
    }
    .more-btn {
        bottom: 28px;
        left: 240px;
    }
}
@media (min-width: 1200px){
 .header-section h3{
     font-size: 44px;
 }
 .about-course h4{
     font-size: 30px;
 }
 .about-course p, .btn a, .all-btn a{
     font-size: 22px;
 }
 .about-course ul li, .about-member p, .footer i,.custom-header{
     font-size: 18px;
 }
 .news-card h4, .about-member a{
     font-size: 24px;
 }
 .footer span{
     font-size: 16px;
 }
 .course{
     height: 262px;
 }
}