/* admin panel */
.page-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* padding-left: 280px; */
    display: flex;
}
.sidebar-menu{
    width: 20%;
    background-color: #192459;
}
.main-content{
    width: 80%;
    background-color: #f8f6f3;
    padding: 40px;
}
.main-content input, .main-content textarea, .main-content select{
    width: 70%;
    border: 1px solid #192459;
    outline: none;
    border-radius: 4px;
    height: 34px;
    display: inline !important;
}
.main-content textarea{
    height: 200px;
    overflow-y: scroll;
    resize: none;
}
.main-content label{
    color: #192459;
    margin-top: 10px;
    display: block;
}
.main-content button{
    border: none;
    outline: none;
    border-radius: 6px;
    height: 36px;
    background-color: #192459;
    color: #fff;
    padding: 0 16px;
    transition: .5s ease;
    margin-top: 20px;
}
.main-content button:hover{
    background-color: #050c2c;
}
.sign-out button{
    border: none;
    outline: none;
    border-radius: 6px;
    height: 36px;
    background-color: #fff;
    color: #050c2c;
    padding: 0 16px;
    transition: .5s ease;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
}
.sign-out button:hover{
    background-color: #050c2c;
    color: #fff;
    cursor: pointer;
}
.main-content h2{
    margin-top: 30px;
    color: #192459;
}
.sidebar-header{
    width: 100%;
    overflow: hidden;
}
.sidebar-header img{
    width: 100%;
    object-fit: cover;
    height: 100px;
}
.menu-list{
    list-style: none;
}
.main-menu{
    padding: 20px;
    margin-top: 20px;
}
.main-menu a{
    text-decoration: none;
    color: #fff;
}
.main-menu a i{
    margin-right: 10px;
}
.main-menu li {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.main-menu li:hover{
    background-color: #222430;
}
.arrow-icon{
    display: inline;
    text-align: right;
}
.arrow-icon i:last-child{
    display: none;
}
.form-view label, .form-view input{
    display: block;
}
.close {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: crimson;
    color: white;
}
.list-style{
    background-color: #192459;
    display: inline;
    padding: 4px 10px 6px;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-align: center;
}
#banner-image-list{
    margin-top: 10px;
}
/* admin login page */
.custom-container{
    max-width: 960px;
    margin: 0 auto;
}
.admin-login{
    background-color: #192459;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.login-page{
    padding: 100px 0;
}
.dashboard{
    background-color: #fff;
    opacity: .9;
    padding: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dashboard-header{
    border-bottom: 2px solid #192459;
}
.dashboard-header h2{
    letter-spacing: 18px;
    font-size: 40px;
    font-weight: 700;
}
.dashboard-header p{
    font-weight: 500;
    letter-spacing: 10px;
}
.login-panel{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
    text-align: center;
    height: 100%;
}
.icon-panel{
    margin: 20px 0;
    width: 50%;
}
.icon-panel i{
    font-size: 80px;
    color: #192459;
}
.left-section{
    padding: 40px;
    flex-wrap: wrap;
}
.user-admin{
    padding-top: 56px;
}
.right-section{
    padding: 60px 0;
}
.right-section input{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #192459;
    margin: 10px 0;
    padding: 10px;
}
.login-btn button{
    background-color: #192459;
    border: 1px solid #192459;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
}

/* home page */
.header{
    background-color: #192459;
    color: #fff;
}
.custom-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo-img{
    width: 180px;
    height: 100%;
    overflow: hidden;
}
.logo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lang-view div{
    background: none;
    border: none;
}
.lang-view a img{
    width: 30px;
}
.lang-select a img:hover{
    outline: 2px solid orange;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,17,79,1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,17,79,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,17,79,1);
}
.lang-view a:hover{
    background: none;
}
.dropdown-toggle::after{
    margin-left: 0 !important;
}
.custom-header a{
    text-decoration: none;
    color: #fff;
}
.custom-header li a:hover{
    color: orange;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
}
.lang-select a:hover{
    border: none;
}
.custom-header ul li{
    padding-right: 40px;
}
.our-course{
    padding: 80px 0;
    text-align: center;
}
.border-down{
    background-color: #192459;
    width: 50px;
    height: 4px;
    display: inline-block;
}
.our-course h3{
    margin-bottom: 0;
    color: #192459;
    font-size: 28px;
}
.our-course span{
    color: orange;
    font-size: 14px;
}